<h2>Stacktrace</h2>
<table>
    <tr>
        <th>Class</th>
        <th>File</th>
        <th>Line</th>
        <th>Method/Function</th>
    </tr>
    {% for line in stacktrace %}
        <tr>
            <td>{{ line.class }}</td>
            <td>{{ line.file }}</td>
            <td>{{ line.line }}</td>
            <td>{{ line.function }}</td>
        </tr>
    {% endfor %}
</table>